body { 
    font-family: Comic Sans MS, cursive, sans-serif; 
    color: hwb(59 11% 1%);
    background: linear-gradient(40deg, #0a528d, #1e90ff, #87cefa);
    margin: 0;
    padding: 0;
}

img {
    width: 90%;
    height: 200px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
}